body {
    font-family: 'Lilita One', cursive;;
    font-size: 1em = 10px;
    line-height: 1.5;
    background-color: antiquewhite;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1920px;

}
.text {
    margin: 20px 100px;
}
.text-item {
    border-top: 1px solid #d2c1c1;
}

.text-input {
    -webkit-appearance: none;
    appearance: none;

    position:absolute;
    width: 0;
    height: 0;
}
.text-title {
    display: block;
    cursor: pointer;
    font-size: 1.5em;

}
.text-img1{
    display: none;
}

.text-img {
    display: none;
}
.text-input:checked ~ .text-img {
    display: block;
}
.text-input:checked ~ .text-img1 {
    display: block;
}

